@font-face{
    font-family: faltaFont;
    src: url(goldengirdle.ttf) format('trutype');
}

*{
    color: black;
    background-color: white;
}

p{
    font-family: faltaFont;
    line-height: 1cm;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
