@font-face{
    font-family: faltaFont;
    src: url(/home/tereza/repos/nada/font/goldengirdle.ttf)
}

*{
    font-family: faltaFont;
    color: black;
    background-color: white;
}

p{
    line-height: 1cm;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
